/* Upcoming Courses Page*/

.c1{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 24%;
    background-color: beige;
    border: 2px solid #000000; 
    margin-left: 2rem;
  
  }
  
  .NCFbutton {
    background-color: black;
    justify-content: center;
    font-size: 6px;
    padding: 1.5rem;
    border-radius: 50px;
    margin: 0px;
    cursor: pointer;
    max-width: 40%;
    margin-left:30%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .btnncf{
    background-color: black;
    color: white;
    border: none;
  }
  .NCFbuttonClear {
    background-color: grey;
    justify-content: center;
    font-size: 6px;
    padding: 1.5rem;
    border-radius: 50px;
    margin: 0px;
    cursor: pointer;
    max-width: 40%;
    margin-left:29%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .btnncfClear{
    background-color: grey;
    color: white;
    border: none;
  }
  
  .c2{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    background-color: beige;
    border: 2px solid #000000; 
    margin-left: 2rem;
  
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  .rectangle {
    display: flex;
    float: left;
    justify-content: left;
    width: 80%;
    margin-left: 10%;
    height: 7rem;
    background-color: grey;
    opacity: 70%;
    border-radius: 20px;
    margin-bottom: 1.5rem;
  }
  .square {
    display: flex;
    flex-direction: column;
    width: 6rem;
    margin: 2%;
    height: 80%;
    background-color: rgb(47, 218, 141);
    opacity: 100%;
    border-radius: 20px;
    justify-content: center;
  }
  .textU {
    color:black;
    margin-top: 0.5rem;
    opacity: 100%;
  }
  .textU2 {
    width: auto;
    color:black;
    margin-top: 0.5rem;
    opacity: 100%;
  }
  .textC {
    color:black;
    margin-top: 0.5rem;
    opacity: 100%;
  }
  .content{
    background-color: grey;
    width:70%;
    margin-left: 0.5rem;
    border-radius: 20px;
  }
  .scroll-container {
    display: flex;
    flex-direction: column;
    height: 720px;
    width: 60%;
    background-color: beige;
    border: 2px solid #000000; 
    margin-left: 2rem;
    /* height: 250px; */
    overflow-y: scroll; /* Enable vertical scrollbar */
    border: 2px solid black; /* Optional: add a border */
  }