.body {
  background-color: white;
  padding-top: 2rem;
}

.course-container {
background-color: beige;
border: 2px solid #000000; 
padding: 30px;  
margin: 10px;
}




/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

#grid0 {
  display: grid;
  height: 8rem;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25rem;
  padding-right: 2rem;
  padding-left: 2rem;
  justify-content: center;
}
.flinks{
}
#grid {
  display: grid;
  height: 7rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px;
  column-gap: 20px;
  padding-right: 5rem;
  padding-left: 5rem;
}

#grid > div {
  border: 1px solid rgb(0, 1, 0);
  border-radius: 50%;
  background-color: rgb(226, 226, 89);
}


/* Clear floats after the columns */
.rowc:after {
  content: "";
  display: table;
  clear: both;
}


.textc {
  text-align: center;
  padding-top: 13%;
  padding-bottom: 14%;
  font-size: larger;
}

.aboutUsS{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1rem;
  padding-right: 5rem;
  padding-left: 5rem;
}


.rowS {
  border: 1px solid rgb(0, 1, 0);
  width: 30.5%;
  height: 0.1rem;
  padding: 4%;
  row-gap: 1rem;
  text-align: center;
}

.some-page-wrapper {
  display: flex;
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

}

.grey-column {
  background-color: rgb(220, 210, 210);
  height: 350px;
  border-radius: 15%;
  box-shadow: 2px;
  border: 3px solid black;
  box-shadow: 8px 6px rgb(203, 198, 198);
  padding-left:2rem;
  padding-right:2rem;
}
.row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;

}

.white-column {
  
  height: 350px;
  padding-left:2rem;
  padding-right:2rem;
}

.colImg {
  width: 3rem;
  height: 3rem;
}

.aboutImg {

  width: 40rem;
  height: 20rem;
  justify-content: center;
}

.partnerImg{
  max-width: 20rem;
  max-height: 15rem;
  padding-bottom: 0px;
}

.App {
  font-family: sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.images-container {
  display: flex;
  max-width: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
}

.image {
  width: 200px;
  height: 200px;
  margin: 5px;
  border-radius: 8px;
}

.nav-btn {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #c3c3c3;
  border-radius: 6px;
  height: 200px;
  width: 30px;
  margin: 5px;
}

.checkbox {
  justify-content: center;

}

form {
  margin: 1rem auto;
  width: 500px;
  max-width: 80%;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
form > div {
  display: flex;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.input-group > label {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
.input {
  width: 100%;
  display: flex;
}
.input > input {
  padding: 0.3rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}
.input > input:focus {
  outline: none;
}
.input > div {
  padding: 0.5rem 1rem;
  background: #e34728;
  margin-left: 0.5rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.add-btn {
  padding: 0.5rem 1rem;
  background: #ccc;
  border: none;
  font-size: 0.9rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.center {
  display: flex;
  justify-content: center;
}
.submit-btn {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background: #fff;
  margin: 1.2rem 0;
  color: black;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}
.dialog-box {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  grid-gap: 1rem;
}
.dialog-box > input,
.dialog-box > select {
  padding: 0.5rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.dialog-box > input:focus,
.dialog-box > select:focus {
  outline: none;
}
.hide {
  display: none;
}
.rowLast {
  background-color: rgb(164, 159, 159);
}

.rowb {
  display:flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  column-gap: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.fbutton {
  background-color: black;
  justify-content: center;
  font-size: 4px;
  padding: 1.5rem;
  border-radius: 0px;
  margin: 0px;
  cursor: pointer;
}

.btnf{
  background-color: black;
  color: white;
  border: none;
}

.topbutton {
  background-color:rgb(47, 218, 141);
  font-size: 4px;
  padding: 1.5rem;
  margin: 2px;
  cursor: pointer;
  margin-right: 0;
  opacity: 70%;
}

.btntop{
  background-color: rgb(47, 218, 141);
  cursor: pointer;
  color: black;
  border: none;
}
.topbuttonX {
  background-color:white;
  font-size: 4px;
  padding: 1.5rem;
  margin: 2px;
  cursor: pointer;
  margin-right: 0;
  opacity: 70%;
}

.btntopX{
  background-color:white;
  color: white;
  cursor: pointer;
  border: none;
}
.columntop {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-right: 2rem;
}
.rowtop{
  display:flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  column-gap: 0rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

/* About Us Page --------------------------------------------------------------------------------------*/

.grey-columnAU {
  height: 350px;
  width: 45%;
  border-radius: 15%;
  padding-left:2rem;
  padding-right:1rem;
  justify-content: left;
  text-align: left;
  margin-bottom: 3rem;
}
.AUimg {
  height: 350px;
  width: 100%;
  border-radius: 10%;
  padding-left:2rem;
  padding-right:1rem;
  justify-content: left;
  text-align: left;
  margin-bottom: 3rem;
  margin-top:3rem;
}
.AUimg2 {
  height: 300px;
  width: 100%;
  border-radius: 10%;
  padding-left:2rem;
  padding-right:1rem;
  justify-content: left;
  text-align: left;
  margin-bottom: 6rem;
  margin-top:3rem;
}

.flex-container {
  display: flex;
  align-items: left;
  height: 100%;
}

.flex-div {
  display: block;
  flex: 1;
  background-color: beige;
  height: auto;
  width: 45%;
  border-radius: 15%;
  padding-left:10rem;
  padding-right:15rem;
  padding: 1rem;
  justify-content: left;
  text-align: left;
  margin-bottom: 3rem;
}

.vertical-separator {
  padding: 0rem;
  border-left: 1px solid #000;
  height: auto;
  margin: 0 10px;
}
/* TRAINING PAGE */
.bodyT {
background-color: beige;
padding-top: 2rem;
padding-bottom: 3rem;
}

.rowT {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
column-gap: 3rem;
padding-left: 3rem;
padding-right: 5rem;
}

.imgT {
height: 5%;
width: 10%;
margin-top: 1rem;
}

.imgT0 {
height: 2%;
width: 4%;
margin-top: 1rem;
}

.rowTF {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
column-gap: 3rem;
padding-left: 3rem;
padding-right: 5rem;
padding-bottom: 4rem;
}

.imgT2 {
height: 10rem;
width: 10rem;
margin-top: 1rem;
}

.tbutton {
background-color: rgb(84, 81, 220);
justify-content: center;
height: 10rem;
width:10rem;
border-radius: 0px;
cursor: pointer;
}

.btnt{
background-color: rgb(84, 81, 220);
color: white;
border: none;
font-size: large;
padding-top: 30%;
}

/* Assessment Page*/

.assessment-main-img{
padding: 20px 0px 50px 0px;
background-image: url(https://plus.unsplash.com/premium_photo-1680807869086-e08309acfb24?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YXNzZXNzbWVudHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
width: 1400px; 
height: 600px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin: auto;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 30px;
display: flex;
justify-content: flex-end;
align-items: flex-start;
margin-bottom: 50px;
}

.coaching-main-img{
padding: 20px 0px 50px 0px;
background-image: url(https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/sites/133325/images/nwRzuUwXQwCqfaSqpeMt_Blog-_What_is_coaching-_AIPC.jpg);
width: 1400px; 
height: 600px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin: auto;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 30px;
display: flex;
justify-content: flex-end;
align-items: flex-start;
margin-bottom: 50px;
}

.ctu-btn{
  background-color: black;
  color: white;
  border: none;
  font-size: 15px;
  padding: 1.5rem;
  border-radius: 0px;
  margin: 0px;
  cursor: pointer;
}

.assessment-content{
text-align: left;
margin: 20px 17%;
}

.ass-con-sub{
margin: 0px 50px;
}
.ass-content h1{
font-size: 50px;
margin: 30px 0px;
text-align: center;
}
.ass-content p{
font-size: 22px;
letter-spacing:0.1ch;
line-height: 25px;
}
.ass-con-sub h3{
font-size: 38px;
font-weight: 700;
margin: 20px 0px;
}

.b-ctu-btn{
margin: 50px 0px;
}

.register-btn {
background-color: black;
padding: 0.5rem 1rem;
border: 1px solid black;
/* background: #fff; */
margin: 1.2rem 0;
color: #fff;
font-size: 0.9rem;
font-weight: 700;
cursor: pointer;
}

.box {
border-bottom: 2px solid #000000;
padding: 10px;  
/* margin: 10px; */
justify-content: center;
display: flex;
align-items:center;
}

.register-header-box {
padding: 10px;  
/* margin: 10px; */
justify-content: center;
display: flex;
align-items:center;
}

.course-dropdown {
font-family: Arial, sans-serif;
padding: 10px 15px;
font-size: 16px;
border-radius: 4px;
background-color: #fff;
cursor: pointer;
transition: border-color 0.3s ease;
}



.course-header-text {
padding: 1rem; 
}


.coaching-content{
text-align: left;
margin: 20px 12%;
}

.coaching-content h1{
font-size: 30px;
}

.coaching-content p{
font-size: 18px;
margin: 2% 7% 7% 7%;
line-height: 25px;
}

.popup {
position: fixed;
top: 0;
left: 0;
right: 0;  /* Span the entire width */
background-color: rgba(203, 201, 201, 0.95); /* Near white, slightly translucent */
display: flex;
justify-content: center;
align-items: center;
padding: 20px 0; /* Padding top and bottom */
z-index: 1000;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow to differentiate from the content */
transition: all 0.3s ease-in-out;
}

.popup-inner {
max-width: 600px;  /* Maximum width so it doesn't stretch too wide on large screens */
text-align: center;
padding: 15px;
border-radius: 8px;
}

.popup-inner h2 {
font-size: 20px;
margin-bottom: 10px;
color: #333;  /* Dark gray */
}

.popup-inner button {
padding: 10px 20px;
border: none;
background-color: #007BFF;
color: #fff;
cursor: pointer;
border-radius: 4px;
font-weight: 600;  /* Semi-bold text */
transition: background-color 0.2s ease-in-out;
}

.popup-inner button:hover {
background-color: #0056b3;  /* Slightly darker blue on hover */
}
.contact-box h1{
margin: 30px 0px 15% 0px; 
}

.contact-box p{
font-size: 20px;
}

.ctn-email{
color: #0000CD;
text-decoration: underline;
cursor: pointer;
}

/* .contact-box{
margin: 6% auto;
padding: 30px;
width: 40%;
height: 570px;
} */


.popup {
position: fixed;
top: 0;
left: 0;
right: 0;  /* Span the entire width */
background-color: rgba(203, 201, 201, 0.95); /* Near white, slightly translucent */
display: flex;
justify-content: center;
align-items: center;
padding: 20px 0; /* Padding top and bottom */
z-index: 1000;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow to differentiate from the content */
transition: all 0.3s ease-in-out;
}

.popup-inner {
max-width: 600px;  /* Maximum width so it doesn't stretch too wide on large screens */
text-align: center;
padding: 15px;
border-radius: 8px;
}

.popup-inner h2 {
font-size: 20px;
margin-bottom: 10px;
color: #333;  /* Dark gray */
}

.popup-inner button {
padding: 10px 20px;
border: none;
background-color: #007BFF;
color: #fff;
cursor: pointer;
border-radius: 4px;
font-weight: 600;  /* Semi-bold text */
transition: background-color 0.2s ease-in-out;
}

.popup-inner button:hover {
background-color: #0056b3;  /* Slightly darker blue on hover */
}
.contact-box h1{
margin: 30px 0px 5% 0px; 
}

.contact-box p{
font-size: 20px;
}
.ctn-email{
color: #0000CD;
text-decoration: underline;
cursor: pointer;
}
.filterT{
display: flex;
justify-content: flex-start;
align-items: center;
padding-left: 3rem;
padding-right: 5rem;
margin: 20px 0px;
}

.filterT input{
font-size: 22px;
margin-right: 10px;
padding: 5px;
}

.filterT button{
font-size: 20px;
padding: 7px 25px;
border: none;
color: white;
background-color: #000;
}

.filterT{
display: flex;
justify-content: flex-start;
align-items: center;
padding-left: 3rem;
padding-right: 5rem;
margin: 20px 0px;
}

.filterT input{
font-size: 22px;
margin-right: 10px;
padding: 5px;
}

.filterT button{
font-size: 20px;
padding: 7px 25px;
border: none;
color: white;
background-color: #000;
}

.contactus-main{
display: flex;
justify-content: space-evenly;
align-items: center;
margin: 6%;
}

.cnt-form{
text-align: left;
font-size: 20px;
}

.cnt-form label{
 font-weight: 600;
 margin-bottom: 8px;
}

.cnt-form input{
font-size: 20px;
padding: 10px 10px;
margin-bottom: 20px;
}

.terms{
margin-bottom: 5%;
}

.terms h1{
 font-size: 48px;
 margin: 30px;
}

.terms-content h2{
font-size: 30px;
}

.terms-content h4{
font-size: 20px;
font-weight: 500;
}

.terms-content{
text-align: left;
margin: 30px 10%;
}

.terms-content P{
margin: 15px;
font-size: 18px;
}

.terms-content ul{
margin: 0px 40px;
}
.terms-content li{
margin: 5px 0px;
font-size: 18px;
}