* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container {
    margin: 0rem;
    text-align: center;
}

.nav {
    background-color: rgb(47, 218, 141);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: .78rem;
    padding-right: 0;
    padding-left: .78rem;

}
#socials2{
    display:inline-block;
    row-gap: 1rem;
    margin: 0 0rem;
    padding-top: 1rem;
    
}
#icon{
    margin-left: 1rem;
}
 .foot {
    background-color: rgb(47, 218, 141);
    color: black;
    margin-top: 0rem;
 }

 .foot ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    gap: 1rem;
    padding-right: 3rem;
}
#social-container{
    display:inline-block;
    row-gap: 1rem;
    margin: 0 1rem;
    padding-top: 1rem;
    
}

.foot a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: block;
    align-items: center;
    padding: 0.25rem;
}

.site-title {
    font-size: 2rem;
}

.logo {
    width: 5rem;
    height: 5rem;
    margin-left: 4rem;
    margin-right: 6rem;
}

.foot-title {
    font-size: 2rem;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

.nav li.active {
    background-color: rgb(47, 218, 141);
}

.nav li:hover {
    background-color: #2c5d4d;
    height: 100%;
}

.MenuButton:hover {
    background-color: #2c5d4d;
    height: 100%;
}

[data-reach-menu-button] {
    padding: 0.75em 1em;
    background-color: rgb(47, 218, 141);
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 1rem;
  }
  [data-reach-menu-button][aria-expanded="true"] {
    border-radius: 0 0 1px 1px;
    background-color: #2c5d4d;
  }
  
  [data-reach-menu-list] {
    border: 5px solid  rgb(47, 218, 141);
    background-color:  rgb(47, 218, 141);
  }



